* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

#app {
  width: 100%;
  min-height: 100vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#app header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 10vh;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2vh 2vw;
}

#app header a {
  color: #ffffff;
}

#app main {
  width: 100%;
  min-height: 100vh;
}

#app main .welcome {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  padding: 2vh 2vw;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#app main .welcome img {
  width: 40vw;
}

#app main .welcome .description {
  width: 30vw;
  color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app main .welcome .description .release-date {
  width: 100%;
  text-align: center;
  border: 1px solid #fff;
  padding: 2vh 2vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 5vh;
}

#app footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 13vh;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4vh 2vw;
}

#app footer span {
  color: #ffffff;
  width: 50vw;
}

#app a {
  text-decoration: none;
}

#app a.btn {
  background-color: #3333ff;
  color: #ffffff;
  padding: 1vh 1vw;
}

#app a.btn:hover {
  background-color: #1111ff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#app a.btn.btn-large {
  padding: 2vh 4vw;
}

#app .modal {
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background-color: #ffffff;
  min-width: 50vw;
  min-height: 60vh;
  z-index: 999999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2vh 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#app .modal .modal-title {
  width: 100%;
  text-align: center;
}

#app .modal .modal-body {
  min-height: 45vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#app .modal .modal-body .link {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2vh 1vw;
  margin-bottom: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #000;
}

#app .modal .modal-body .link a {
  color: #000000;
}

#app .modal .modal-body .link .selected {
  color: #11aa11;
}

#app .modal .modal-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#app .loader {
  position: fixed;
  z-index: 9999999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #000000;
}

#app .loader .circle {
  width: 5vw;
  height: 5vw;
  background-color: #fff;
  border-radius: 50%;
  animation: loader-circle .7s infinite alternate-reverse ease-in-out;
}

@-webkit-keyframes loader-circle {
  0% {
    width: 5vw;
    height: 5vw;
  }
  100% {
    height: 8vw;
    width: 8vw;
  }
}

@keyframes loader-circle {
  0% {
    width: 5vw;
    height: 5vw;
  }
  100% {
    height: 8vw;
    width: 8vw;
  }
}
/*# sourceMappingURL=main.css.map */