<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <title>Place where the stars fall</title>
</head>

<body>
    <div id="app">
        <div class="loader" v-if='isLoading == true'>
            <div class="circle"></div>
        </div>
        <header>
            <a href="https://vk.com/ashlander_design">{{tr().designer_link}}</a>
            <a href='#support'>{{tr().support_link}}</a>
            <a href="#lang" @click='modal = "selectlang", modalShow = true'>{{tr().language}}</a>
        </header>
        <main>
            <section class="welcome">
                <img :src='"misc/images/"+tr().logo_name+".png"' alt="">
                <div class="description">
                    <span>
                        {{tr().description}}
                    </span>
                    <div class="release-date">
                        {{tr().release_date}}
                    </div>
                </div>
            </section>
        </main>
        <div class="modal language-select" v-if='modal == "selectlang" && modalShow == true'>
            <h2 class="modal-title">
                {{tr().langsel_title}}
            </h2>
            <div class="modal-body">
                <span class="link" @click='lang = "Русский"'><a href="#">Русский</a><span v-if='lang == "Русский"' class="selected">Выбрано</span></span>
                <span class="link" @click='lang = "English"'><a href="#">English</a><span v-if='lang == "English"' class="selected">Selected</span></span>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-large" @click='modalShow = false'>{{tr().done}}</a>
            </div>
        </div>
        <footer>
            <a href="#download" class='btn btn-large'>{{tr().demo_download}}</a>
            <span>
                {{tr().demo_warning}}
            </span>
        </footer>
    </div>
    <script src="js/app.js"></script>
</body>

</html>